body {
    font-family: 'Rokkitt', serif !important;
}

.main {
    margin: 30px 50px;
    height: 90vh;
}

.container {
    display: grid;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.text {
    text-align: center;
    margin-top: -50px;
}

.occupation, .cta, .link {
    color: #364650;
    font-weight: 300;
}

.link {
    text-decoration: none;
    color: #d8421e;
}

footer {
    text-align: center;
}